Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.git
.DS_Store
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Build directory
dist
.next
out
build