DISCORD_TOKEN=

POSTGRESQL_URL=postgres://postgres:postgres@localhost/postgres

REDIS_HOST=easel_redis
REDIS_PORT=6379
REDIS_PASSWORD=

NODE_ENV=production
TZ=Pacific/Auckland

OWNER_ID=193483293489237487

CANVAS_BASE_URL=canvas.auckland.ac.nz

ANNOUNCEMENT_CHECK_INTERVAL=300000
CALENDAR_CHECK_INTERVAL=1800000