{
  // 2023 Semester Two
  "ELECTENG/COMPSYS 209: Analogue and Digital Design": [
    {
      "author": "193483293489237487",
      "rssUrl": "https://example.instructure.com/feeds/announcements/enrollment_dEnfSjw4FjsW6FjsTjqMzo4sSjwGhhsWrNfdGh5s.atom",
      "channels": [""]
    }
  ]
}
